@model Practice_Project.Models.IndexViewModel

@{
    ViewData["Title"] = "Success!";
}

<div class="container">
    <div class="col-xs-12">
        <span>Success! Thank You for your submission, @Model.FirstName @Model.LastName</span>
    </div>
</div>